/* Fortæller strukturen på siden. */
body {
    background-image: url('https://cdn.pixabay.com/photo/2017/10/20/01/06/north-star-2869817_1280.jpg');
    background-size: cover;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: grid;
    /* indstillinger: nav, indhold, footer, altså 3 rows */
    grid-template-rows: auto 1fr auto;
    grid-template-areas: /* giver variable navne for de forskellige elementer */
            'nav nav'
                'main'
                'footer footer';
}

nav {
    display: flex;
    flex-direction: column;
    background-color: rgba(107, 194, 255, 0.65); /* sidste tal er gennemsigtighed*/
    grid-area: nav; /* Bliver nr 2 i strukturen. Pga. variabel navn */
    padding: 1em 1em 1em;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000; /*nav bar ligger over resterende elementer når scroll*/
}

.navbar {
    background: rgba(0, 0, 30, 0.7);
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.navbar a:hover {
    color: #ffd700;
    text-shadow: 0 0 10px rgba(255, 215, 0, 1);
}

main {
    grid-area: main; /* Bliver nr 3 i strukturen. Pga. variabel navn */
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1em;
}

footer {
    grid-area: footer; /* Bliver nr 4 i strukturen. Pga. variabel navn */
    /* Giver luft imellem section og footer */
    margin-top: 1em;
    background-color: rgba(107, 194, 255, 0.65);
    color: white;
    text-align: center;
    align-content: center;
    padding: 10px;
    opacity: 75%;
    height: 10vh;
}

/* GitHub icon and text container */
.github-icon {
    display: flex;
    align-items: center;  /* Vertically align items */
    justify-content: center;  /* Center items horizontally */
    gap: 10px;  /* Space between the icon and the text */
}

/* Styling for the GitHub icon */
.github-icon i {
    font-size: 40px;  /* Adjust the size of the icon */
}

/* Styling for the text */
.github-icon span {
    font-size: 18px;  /* Adjust the font size for the text */
    color: white;  /* Make the text white (or whatever color fits your design) */
}








