.button-container{
    padding-bottom: 30px;
    padding-top: 15px;
}

main{
    min-height: 82vh;
}

.grid-container{

}

.userTitle{
padding-top: 20px}

.wishButton-container{

}
.wishlist-box{
    justify-items: center;
    align-content: center;
}

.button{
    padding-top: 10px;
}


