<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Add a Wish</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body class = "addWish-body">
<div>
 <div class = "content">
     <div class = "centered-box">
        <h1>Add a wish</h1>
         <form role="form" action="#" method="post" th:action="@{/wishlist/save}"
            th:object="${wish}">

             <input hidden type="number" th:field="*{wishlistID}"  readonly />

            <label>Wish Name</label>
            <input type="text" th:field="*{name}"/>

            <br>
            <label>Description</label>
             <textarea rows = "3" cols ="20" th:field="*{description}"></textarea>

             <br>
            <label>Product Link</label>
             <input type="text" th:field="*{productLink}"/>

             <label>Image Link</label>
             <input type="text" th:field="*{imageLink}">

             <label>Price</label>
             <input type="number" min="1" th:field="*{price}">

             <button type="submit">Add wish to wishlist</button>
         </form>
     </div>
 </div>
</div>

</body>
</html>