<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title th:text="'Editing ' + ${wish.name}"></title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/starry-night.css">
    <link rel="stylesheet" href="/css/add-wish-edits.css">
</head>
<body class="addWish-body">
<div class="title">
<h1 th:text="'Editing ' + ${wish.name}">Editing Wish</h1>
</div>
<div class="content">
    <div class="grid-container">
    <form role="form" action="#" method="post" th:action="@{/wishlist/update}"

          th:object="${wish}">


        <input type="number" th:field="*{id}" readonly hidden>
        <input hidden readonly type="number" th:field="*{wishlistID}">

        <label>Wish Name</label>
        <input type="text" th:field="*{name}"/>

        <br>
        <label>Description</label>
        <textarea rows="3" cols="20" th:field="*{description}"></textarea>

        <br>
        <label>Product Link</label>
        <input type="text" th:field="*{productLink}"/>

        <label>Image Link</label>
        <input type="text" th:field="*{imageLink}">

        <label>Price</label>
        <input type="number" min="1" th:field="*{price}">
    </div>
    <div class="button-container">
        <button type="submit">Update Wish</button>
    </div>
    </form>
</div>


</body>
</html>