<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>


    <link rel="general" href="/css/general.css">
    <link rel="stylesheet" href="/css/starry-night.css">


    <meta charset="UTF-8">
    <title th:text="${wishList.name}"></title>
</head>


<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<main>
    <div class="centeredContent">
        <div class="wishlists">


            <h1 th:text="${wishList.name}">PAGE TITLE</h1>
            <div class="buttons">
                <form th:if="${userIsOwner}" th:action="@{/wishlist/add/{wishlistID}(wishlistID=${wishList.id})}" method="get">
                    <button type="submit">Add Wish</button>
                </form>
            </div>
            <h2 th:if="${wishList.wishes.isEmpty()}">This wishlist is empty! try adding some wishes!</h2>
            <div th:unless="${wishList.wishes.isEmpty()}" class="grid-container">
                <div th:each="wish : ${wishList.wishes}" class="wishlist-box">
                    <img class="wishlist-image" th:src="${wish.imageLink}">
                    <h2 th:text="${wish.name}" class="textBox"></h2>
                    <h3 th:text="${wish.description}" class="textBox"></h3>
                    <h4 th:text="'Pris: ' + ${wish.price} + ' kr'" class="textBox"></h4>

                    <div class="wishButton-container">

                        <a th:href="@{${wish.productLink}}">
                            <button>Link To Wish</button>
                        </a>

                        <!-- This little trick allows for a more secure deletion. the form only sends the wish id
                        and wishlist id-->


                        <form th:if="${userIsOwner}" th:object="${wish}" th:action="@{/wishlist/{wishID}/edit(wishID=${wish.id})}"
                              method="get">
                            <button type="submit">Edit Wish</button>
                        </form>

                        <form th:if="${userIsOwner}" role="form" action="#" th:action="@{/wishlist/delete}" method="post">
                            <input type="number" th:name="id" th:value="${wish.id}" readonly hidden>
                            <input type="number" th:name="wishlistID" th:value="${wish.wishlistID}" hidden readonly>
                            <button type="submit" class="deleteButton">DELETE WISH</button>
                        </form>

                        <form th:if="${displayReserveInfo}" role="form" action="#"  th:action="@{/wishlist/reserve}" method="post">
                            <h4   th:if="${wish.reserved}" th:text="'Reserved By: ' + ${wish.reserveeName}"></h4>
                            <h4 th:unless="${wish.reserved}">Not Reserved</h4>
                            <input type="number" th:name="id" th:value="${wish.id}" readonly hidden>
                            <input type="number" th:name="wishlistID" th:value="${wish.wishlistID}" hidden readonly>
                            <button type="submit">Reserve/Dereserve Wish</button>

                        </form>

                    </div>


                </div>

            </div>


        </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>