<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
</head>
<body>
<header>Velkommen til ønskelisten</header>
<nav th:replace="fragments/navbar :: navbar"></nav>

<main>
    <div>
    <label for="userForm">Opret</label><br>
    <a th:href="@{/user-add}" id="userForm">Opret</a>
    </div>

    <div>
    <label for="userLogin">Login</label>
    <a th:href="@{/user-login}" id="userLogin">Login</a>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>