<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/starry-night.css">
    <link rel="stylesheet" href="/css/general.css">
    <title>Wish Upon A Star!</title>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<main>
    <h1>Velkommen til ønskelisten</h1>
    <div>
        <a class="button-link" th:href="@{/user-add}" id="userForm">Opret</a>
        <a class="button-link" th:href="@{/session/user-login}" id="userLogin">Login</a>
    </div>

    <div id="wishlists">
        <h1>All Wishlists:</h1>
        <div class="grid-container">
            <div th:each="wishlist : ${wishListList}" class="wishlist-box">
                <a th:href="'wishlist/list/' + ${wishlist.id}">
                    <h2 th:text="${wishlist.name}"></h2>
                    <h3 th:text="${wishlist.personID}"></h3>
                </a>
            </div>

        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>