<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/stylesheet.css">
<link rel="stylesheet" href="/css/starry-night.css">
<head>
<meta charset="UTF-8">

<title>Profile page</title>
 <nav th:replace="~{fragments/navbar :: navbar}"></nav>

</head>
<body>

<h1 th:text="${User.name}" ></h1>
<div class = "button-container">
    <form th:action="@{/{id}/edit(id=${User.userID})}" method="get">
        <button type="submit"> Edit Information</button>
    </form>
    <form th:action="@{/create/{userID}(userID=${User.userID})}" method="get">
        <button type="submit">Oprette en WishList</button>
    </form>
</div><div>

<ul class = "grid-container">
    <li th:each="wishList : ${User.getWishListList()}" class="wishlist-box">
        <a th:href="@{/wishlist/list/{id}(id=${wishList.id})}">
            <span th:text="${wishList.getName()}" class ="wishlistname-text"> WishList Name </span>
        </a>
        <br>
        <form th:action="@{/wishList/{wishListID}/delete(wishListID = ${wishList.getId()})}" method="post">
            <button type="submit" class="wishlistcentered-button">Delete</button>
        </form>
    </li>

</ul>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>